body{
    /* overflow: visible;
    margin: 0;
    padding: 0; */
    /*background-position: right top;
    background-repeat: repeat;*/    
    /* background-image: url("../../images/cherry1.jpg");
    background-repeat: repeat;
    background-position: right top; */
 }
 #map {
    height: 90%;
    margin: 10px;
  }

.parallax {
    background-image: url("../../images/cherry1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}